<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Quai Antique</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora&family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<!----------------CREATION DU HEADER ET DE LA NAVBAR-------------->

<header>

  <nav class="navigation">
    <img src="../img/logo.png" class="logo" alt="logo restaurant" >
    <div class="lien-navigation flex-item">
      <a href="#">Accueil</a>
      <a href="#">Carte</a>
    </div>
    <a href="#" class="lien-navigation btn-reservation">Réservation</a>
    <div class="lien-navigation flex-item">
      <a href="#">Connexion</a>
      <a href="#">Creation compte client</a>
    </div>
  </nav>
</header>

<!----------------SECTION CARTE-------------->

<div class="container-carte-menu">
  <section class="section-carte">
    <div class="item1">
      <ul>
        <li><h3>Entrées</h3></li>
        <li>Velouté de carottes et lentilles corail: 14€</li>
        <li>Aubergine alla parmigiana: 14€</li>
        <li>Salade d’artichauts violets, topinambours et copeaux de parmesan: 20€</li>
        <li>Carpaccio de « Gambero rosso » au poivre rose: 25€</li>
        <li>Burratina et coulis de figue: 16€</li>
        <li>King crabe et avocat: 25€</li>
      </ul>
    </div>


    <div class="item2">
      <ul>
        <li><h3>Plats</h3></li>
        <li>Spaghetti au homard: 35€</li>
        <li>Saint-Jacques rôties, purée de salsifis, salsifis à l’orange et poivre du Sichuan: 39€</li>
        <li>Dos de cabillaud vapeur, beurre de champignons et poireaux à la crème de cardamome: 39€</li>
        <li>Escalope de foie gras poêlée aux poires et cranberries, vinaigrette de pousses d’épinards: 42€</li>
        <li>Pot-au-feu de volaille à la truffe tuber melanosporum: 35€</li>
        <li>Quasi de veau rôti aux artichauts, pomme mousseline: 35€</li>
      </ul>
    </div>

    <div class="item3">
      <ul>
        <li><h3>Desserts</h3></li>
        <li>Finger chocolat, croustillant praliné: 10€</li>
        <li>Panna cotta aux fruits rouges: 10€</li>
        <li>Tarte citron meringuée: 8€</li>
        <li>Cheesecake et coulis caramel: 12€</li>
        <li>Crème brûlée à la vanille: 12€</li>
        <li>Tarte fine croustillante aux pommes et glace miel: 15€</li>
      </ul>
    </div>
  </section>
</div>

<!----------------SECTION MENUS-------------->

<div class="container-carte-menu">
  <section class="section-menu">
    <div class="item1">
      <ul>
        <li><h3>MENU CLASSIQUE (une entrée, un plat, un dessert) : 55€</h3></li>
        <li class="choix-menu">Entrées : </li>
        <li>Salade d’artichauts violets, topinambours et copeaux de parmesan</li>
        <li>King crabe et avocat</li>
        <li class="choix-menu">Plats : </li>
        <li>Dos de cabillaud vapeur, beurre de champignons et poireaux à la crème de cardamome</li>
        <li>Pot-au-feu de volaille à la truffe tuber melanosporum</li>
        <li class="choix-menu">Desserts : </li>
        <li>Finger chocolat, croustillant praliné</li>
        <li>Tarte fine croustillante aux pommes et glace miel</li>
      </ul>
    </div>


    <div class="item2">
      <ul>
        <li><h3>MENU DEGUSTATION: 80€</h3></li>
        <li class="choix-menu">Entrée: </li>
        <li>COQUILLES SAINT JACQUES "Saint Brieuc côtes Bretonnes" Fraîchement décoquillées / Asperges & Pois gourmand, Emulsion d'eau des coquillages</li>
        <li class="choix-menu">Plat : </li>
        <li>COMPRESSE DE PALERON longuement confit dans l'esprit " Boeuf - Carotte", Pommes de terre Agria / jus de daube réduit</li>
        <li class="choix-menu">Dessert : </li>
        <li>CREATIONS GOURMANDES : Desserts de notre carte</li>
      </ul>
    </div>
  </section>
</div>



<!----------------SECTION FOOTER-------------->

<footer>
  <div class="footer">
    <div class="titre-horaires">
      <h2 >Nos horaires d'ouverture: </h2>
    </div>
    <div>
      <ul class="liste-horaires">
        <li>Lundi: 12:00 - 14:00 / 19:00 - 22:00</li>
        <li>Mardi: 12:00 - 14:00 / 19:00 - 22:00</li>
        <li>Mercredi: fermé</li>
        <li>Jeudi: 12:00 - 14:00 / 19:00 - 22:00</li>
        <li>Vendredi: 12:00 - 14:00 / 19:00 - 22:00</li>
        <li>Samedi: 19:00 - 23:00</li>
        <li>Dimanche: 12:00 - 14:00</li>
      </ul>
    </div>

  </div>
</footer>

</body>
</html>