<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Quai Antique</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora&family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>
<!----------------CREATION DU HEADER ET DE LA NAVBAR-------------->

<header>

  <nav class="navigation">
    <img src="../img/logo.png" class="logo" alt="logo restaurant" >
    <div class="lien-navigation flex-item">
      <a href="#">Accueil</a>
      <a href="#">Carte</a>
    </div>
    <a href="#" class="lien-navigation btn-reservation">Réservation</a>
    <div class="lien-navigation flex-item">
      <a href="#">Connexion</a>
      <a href="#">Creation compte client</a>
    </div>
  </nav>
</header>

</body>
</html>