<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Le Quai Antique</title>
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&family=Lora&family=Montserrat:wght@200&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body>

<!----------------CREATION DU HEADER ET DE LA NAVBAR-------------->

  <header>
    
    <nav class="navigation">
      <img src="../img/logo.png" class="logo" alt="logo restaurant" >
      <div class="lien-navigation flex-item">
        <a href="#">Accueil</a>
        <a href="#">Carte</a>
      </div>
      <a href="#" class="lien-navigation btn-reservation">Réservation</a>
      <div class="lien-navigation flex-item">
        <a href="#">Connexion</a>
        <a href="#">Creation compte client</a>
      </div>
    </nav>
  </header>

<!----------------PRESENTATION DU RESTAURANT-------------->
  <div class="container-section">
    <section class="presentation-restaurant">
      <h1 class="titre niveau1">Le Quai Antique</h1><br>
      <h2 class="titre niveau2">La gastronomie au service du rythme des saisons</h2>
      <div class="valeurs">
        <div class="img">
          <img src="../img/champs.jpg" class="img-champs">
        </div>
        <ul class="titre liste">
          <li>Nos valeurs:</li>
          <li>Respect des produits</li>
          <li>Garanties d'origine biologique</li>
          <li>Fournisseurs locaux</li>
        </ul>
        <div class="img" id="img-panier">
          <img src="../img/panier.png" class="img-panier">
        </div>
      </div>
    </section>
  </div>


<!----------------GALERIE------------->

  <div class="container-section-galerie">
    <section class="section-galerie">
      <h2>Quelques réalisations :</h2>
      <ul class="galerie">
        <li class="galerie-item"><img src="../img/photo1.jpg" alt="plat du restaurant" id="1" ><div class="titre-plat">Jardin de légumes</div></li>
        <li class="galerie-item"><img src="../img/photo3.jpg" alt="plat du restaurant" id="2"><div class="titre-plat">Tartare de cèpes et sa crème de noisette</div></li>
        <li class="galerie-item"><img src="../img/photo4.jpg" alt="plat du restaurant" id="3"><div class="titre-plat">Oeuf parfait et sa galette de sarassin</div></li>
        <li class="galerie-item"><img src="../img/photo5.jpg" alt="plat du restaurant" id="4"><div class="titre-plat">Citron surprise</div></li>
        <li class="galerie-item"><img src="../img/photo6.jpg" alt="plat du restaurant" id="5"><div class="titre-plat">Farandole de fruits rouges</div></li>
        <li class="galerie-item"><img src="../img/photo7.jpg" alt="plat du restaurant" id="6"><div class="titre-plat">Fraise surprise</div></li>
        <li class="galerie-item"><img src="../img/photo10.jpg" alt="plat du restaurant" id="7"><div class="titre-plat">Magret de canard sur son lit de blettes</div></li>
        <li class="galerie-item"><img src="../img/photo11.jpg" alt="plat du restaurant" id="8"><div class="titre-plat">Rose de Vanille</div></li>
        <li class="galerie-item"><img src="../img/photo12.jpg" alt="plat du restaurant" id="9"><div class="titre-plat">Potager de légumes</div></li>
        <li class="galerie-item"><img src="../img/photo13.jpg" alt="plat du restaurant" id="10"><div class="titre-plat">Boeuf et sauce vinicole</div></li>
      </ul>
      <div class="btn-reservation-galerie">
        <a href="#" class="reservation-galerie">Réservation</a>
      </div>
   </section>
  </div>

<!----------------FOOTER------------->

  <footer>
    <div class="footer">
      <div class="titre-horaires">
        <h2 >Nos horaires d'ouverture: </h2>
      </div>
      <div>
        <ul class="liste-horaires">
          <li>Lundi: 12:00 - 14:00 / 19:00 - 22:00</li>
          <li>Mardi: 12:00 - 14:00 / 19:00 - 22:00</li>
          <li>Mercredi: fermé</li>
          <li>Jeudi: 12:00 - 14:00 / 19:00 - 22:00</li>
          <li>Vendredi: 12:00 - 14:00 / 19:00 - 22:00</li>
          <li>Samedi: 19:00 - 23:00</li>
          <li>Dimanche: 12:00 - 14:00</li>
        </ul>
      </div>

    </div>




  </footer>
<!----------------INSERTION JAVASCRIPT-------------->

<script src="script.js"></script>
</body>
</html>